@font-face{
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}
body{font-family: 'Open Sans', sans-serif;-webkit-box-sizing: content-box;
 
}
html,body{
	margin:0;
	padding:0;
	height:100%;
}
a{cursor: pointer;}
textarea{resize: none;}
.wrapper {
	min-height:100%;
	position:relative;
		 background:#333 url(../images/bg-chicago.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
	padding-bottom: 200px;
}
.column{
	background: rgba(255,255,255,.6);
	border-radius: 3px;
	padding: 15px;
	margin-bottom: 20px;
}
.breadcrumb{background: #e5e5e5;}
.white{color: #fff;
    text-shadow: 
      -1px -1px 1px #AAA, 
      2px 2px 1px #111;}
hr{margin-top: 0;}
th{text-align: center;letter-spacing: .1em;}
.navbar{margin-bottom: 0;}
.navbar-nav{
	float: none;
	display: inline-block;
}
.spacer{width: 200px;min-height: 1px;}
.navbar-inverse .navbar-nav > li > a{
	width: 160px;
	color: #271F1F;
    letter-spacing: .1em;
    font-size: 1.1em;
    
}
@media (max-width: 992px) {
	.navbar-inverse .navbar-nav > li > a{
		width: 110px;
	}
}
@media (min-width: 768px) {
	/* .navbar{padding-top: 40px;} */
	.logo{padding: 0;margin-top:-5%;}
	.navbar-inverse .navbar-nav > li.logo > a{
		width: 230px;
	}
	.img-logo{
		width: 200px;
		height:auto;
		position: relative;
	}
	.navbar-brand{display: none;}
}
.intro {width: 100%;background: #fbd116; margin-bottom: 20px;}
.panel-warning>.panel-heading{background-color:#FCF8A3;border-color: #FAEB9C;}
.bg-prize{background-color: #fbd116;}
.display,.display2,.display3{color: #000;padding: 20px;margin-bottom: 20px;}
.display{background: #02736f;}
.display2{background: #f74d4d;}
.display3{background: #1780dc;}
h3.draw{margin-bottom: 25px;margin-top: 10px}
.prize td{font-size:16px;font-weight: 600;}
.col-prize{padding-right: 5px;padding-left: 5px;}
input.luck{font-size: 15px !important;font-weight: bold;letter-spacing: 9px;text-align: center; }

.slidernav a.previous{left:11%;}
.slidernav a.next{right:10%;}
#w{max-width:830px;}
#w{display:block; margin:0 auto; padding:0 3px;padding-top:50px;}
.slidernav a{padding:0;}
.loc_name a{font-size:16px; color:#e46142; margin-top:10px;}
.crsl-items{display:block; padding:5px 5px 5px 0;}
.crsl-item .thumbnail{display:block; position:relative; margin-bottom:10px; cursor:pointer;}
.crsl-item .thumbnail img{display:block; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; transition:all 0.3s linear;}
.crsl-item .thumbnail:hover img{opacity:0.8;}
.crsl-item h3{font-family:'Oswald','Trebuchet MS',Helvetica,sans-serif; font-size:1.95em; line-height:1.25em; margin-bottom:12px;}
.crsl-item h3 a{text-decoration:none; color:#333;}
.crsl-item h3 a:hover{text-decoration:underline;}
.crsl-item .postdate{display:block; position:absolute; bottom:0; right:0; padding:6px; color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.4); font-size:1.2em; font-weight:bold; background:#4e90da;}
.crsl-item p{font-size:1.2em; line-height:1.55em; margin-bottom:5px;}
.crsl-item p.readmore a{display:block; float:right; color:#4e90da; padding:3px 5px; text-decoration:none; font-weight:bold; -webkit-border-radius:3px; -moz-border-radius:4px; border-radius:4px;}
.crsl-item p.readmore a:hover{background:#4b6caa; color:#fff;}
.slidernav{display:block; text-align:center; margin-bottom:5px; margin:-125px auto 210px 0;}
.slidernav a{display:inline-block; font-size:1.4em; color:#666; text-decoration:none;}
.slidernav a.previous{position:absolute; text-align:left;}
.slidernav a.next{position:absolute; text-align:right;}
.slidernav a:active{}
.crsl-wrap a{padding:0; margin:0; clear:both; display:block; padding:0;}
.crsl-wrap ul{padding:0; margin:0; background:blue;}
.crsl-wrap ul li{float:left; list-style:none; padding:0; margin:0; font-size:18px;}
.crsl-wrap ul li a{margin:3px 1px; padding:0; color:#c8c8c8; border:1px solid #c8c8c8; width:28px; height:28px; line-height:28px;}
.crsl-wrap ul li a:hover{color:#ffffff; border:1px solid #e46142; background:#e46142;}
.thin { font-weight:300;margin: 0; padding: 30px 0;}
.thin h2{margin-top:15px;}
.text-image{display: inline-block;vertical-align: top;margin-left: 15px;width: 65%;}
.banner{
	position: relative;
	left: 50%;
	display: block;
	margin: 0 -400px;
	width: 800px;
	height: 60px;
	border: 1px solid #e5000f;
	font: normal 30px/60px "Arial";
	text-align: center;
	color: #fff;
	background: #dd0000;
	border-radius: 4px;
    text-shadow: 
      -1px -1px 1px #fff, 
      2px 2px 1px #363636;
	box-shadow: 0 0 30px rgba(0,0,0,.3) inset,
      				0 6px 10px rgba(0,0,0,.15);
}
.banner::before,
.banner::after{
	content: '';
	position: absolute;
	z-index: -1;
	left: -70px;
	top: 26px;
	display: block;
	width: 40px;
	height: 0px;
	border: 30px solid #dd0000;
	border-right: 20px solid #870000;
	border-bottom-color: #dd0000;
	border-left-color: transparent;
	transform: rotate(-5deg);
	box-sizing: initial;
}
.banner::after{
	left: auto;
	right: -70px;
	border-left: 20px solid #870000;
	border-right: 30px solid transparent;
	transform: rotate(5deg);
}
@media (max-width: 767px) {
	li.logo{display: none;}
	.img-logo{height: 40px;margin-top: 0 !important;}
	.navbar-inverse{margin: 0;}
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:hover, 
	.navbar-inverse .navbar-nav > .active > a:focus { border: 0 !important; }
	.navbar-inverse .navbar-nav > li > a{
		width: 100%;
	}
	.banner::before,
	.banner::after {
		width: 25px;
		left: -40px;
		border-width: 15px;
		border-right-width: 10px;
	}
	.banner::after {
		left: auto;
  		right: -40px;
		border-left-width: 10px;
		border-right-width: 15px;
	}
	.banner{
		font-size: 14px;
		margin: 0 -40%;
		margin-bottom: 30px;
		width: 80%;
		height: 40px;
		line-height: 40px;
	}
}
.navbar-inverse .navbar-toggle{margin-top: 20px;margin-bottom: 15px;border-color: #ccc;}
.navbar-inverse{
	min-height: 80px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus { color: #271F1F; background:none; }
.panel-heading{position: relative;}
.panel-heading.latest{border-radius: 0;font-size: 27px;}
.start,.until{display:inline;}
.img-head{position: absolute;top:7px;right:7px;width: 45px;height: auto;}
img { max-width:100%; }
#footer {
	width:100%;
	height: 100px;
	position:absolute;
	bottom:0;
	left:0;
}
.leg{
	/*background: #fff;*/
	padding: 10px;
	margin-bottom: 20px;
}
.footer1 { background: black; padding: 0 0 0 0; font-size: 16px; color: #999; min-height: 160px;position:relative;top:15px;}
.footer1 a { color: gold; }
.footer1 a:hover {color: #fff; }
.footer1 img{height: 100px;width:170px;margin-right: 20px;}
.footer1 img:last-child{margin: 0;}
.footer2 { background: rgba(0,0,0,.9); padding: 15px 0; color: #777; font-size: 12px; }
.footer2 a { color: #aaa; }
.footer2 a:hover { color: #fff; }
.footer2 p { margin: 0;padding-top: 12px;}
.flip-clock-wrapper {margin:0;}
.flip-clock-wrapper ul {width: 40px;height: 60px;}
.flip-clock-wrapper ul li {line-height: 60px;}
.flip-clock-wrapper ul li a div div.inn {font-size: 35px;}
.flip-clock-divider {height: 60px;}
.flip-clock-dot.top {
  top: 15px; }
.flip-clock-dot.bottom {
  bottom: 10px; }
    .nowdrawing{
    color: #000000!important;
    animation: blur .9s ease-out infinite !important;
    text-shadow:0px 0px 1px #fff, 0px 0px 1px #000000!important;
  }
  @keyframes blur {
    from{
      text-shadow:0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
    };
  }